@model AdminInviteModel

<a href="/Admin/Dashboard" data-translation="admin_dashboard_link">admin_dashboard_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationUidInput" />

    <partial name="Components/_Email" model="@Model.EmailInput" />
    <partial name="Components/_Input" model="@Model.FirstNameInput" />
    <partial name="Components/_Input" model="@Model.LastNameInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="invite_user_as_admin_button">invite_user_as_admin_button</button>
</form>