@model AdminInviteModel

<partial name="Components/_DashboardLink" />
<h1 data-translation="@Model.Title">@Model.Title</h1>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />

    <partial name="Components/_Email" model="@Model.EmailInput" />
    <partial name="Components/_Input" model="@Model.FirstNameInput" />
    <partial name="Components/_Input" model="@Model.LastNameInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="invite_user_as_admin_button">invite_user_as_admin_button</button>
</form>