@model BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model?.Title / @ConstantHelper.APP_NAME</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/popup/css/popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/select/css/select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/plugins/table/css/table.css" asp-append-version="true" />
</head>
<body>
<header>
    <a href="/">@ConstantHelper.APP_NAME</a>

    @if (User.Identity.IsAuthenticated)
    {
        <div style="float: right">
            <form action="/User/LogOff" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" data-translation="log_off">log_off</button>
            </form>
        </div>
    }
</header>

<main role="main">
    @RenderBody()
</main>

<footer></footer>
<partial name="_Popup" />
@Html.AntiForgeryToken()

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/plugins/popup/popup.js" asp-append-version="true"></script>
<script src="~/plugins/select/select.js" asp-append-version="true"></script>
<script src="~/plugins/table/table.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>