@model BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model?.Title / @ConstantHelper.APP_NAME</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a href="/">@ConstantHelper.APP_NAME</a>

        @if (User.Identity.IsAuthenticated)
        {
        <div style="float: right">
            <form action="/User/LogOff" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" data-translation="log_off">log_off</button>
            </form>
        </div>
        }
    </header>

    @if (!User.Identity.IsAuthenticated)
    {
    <div style="float: right;margin-top: -55px;margin-right: 55px;">
        <a href="/User/LogOn" data-translation="log_on_link">log_on_link</a>
        <a href="/User/SignUp" data-translation="sign_up_link">sign_up_link</a>
    </div>
    }

    <main role="main">
        @RenderBody()
    </main>

    <footer></footer>
    <partial name="_Popup" />
    @Html.AntiForgeryToken()

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>