@model BaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model?.Title / @ConstantHelper.APP_NAME</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="background-blue">
            <a href="/" class="background-blue">
                <span class="nav-brand">@ConstantHelper.APP_NAME</span>
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="header-components background-blue">
                    <li>
                        <form action="/User/LogOff" method="post">
                            @Html.AntiForgeryToken()
                            <select class="account background-blue" id="myList" onchange="this.form.submit()">
                                <option selected data-translation="account">Account</option>
                                <option data-translation="log_off">log_off</option>
                            </select>
                        </form>
                    </li>

                    <li>
                        <input type="text" id="txtSearch" name="txtSearch" placeholder="" value="" onkeyup="searchWork()" />
                        <div id="searchResults" name="searchResults">
                            <a href="#" id="allSearchListLink" name="allSearchListLink" data-translation="label_search_list_link" onclick="openLabelSearchListPage()">label_search_list_link</a>
                        </div>
                    </li>
                </ul>
            }
        </div>

    </header>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="register-links background-blue">
            <a class="background-blue" href="/User/LogOn" data-translation="log_on_link">log on</a>
            <a class="background-blue" href="/User/SignUp" data-translation="sign_up_link">sign up</a>
        </div>
    }

    <main role="main">
        @RenderBody()
    </main>

    <footer></footer>
    <partial name="_Popup" />
    @Html.AntiForgeryToken()

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>