@model ProjectCloneModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form method="post">
    <div>
        <label data-translation="cloning_project_name">cloning_project_name</label>
        <a href="/Project/Detail/@Model.CloningProjectUid">@Model.Name</a>
    </div>

    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />
    <partial name="Components/_Hidden" model="@Model.CloningProjectInput" />

    <partial name="Components/_Input" model="@Model.NameInput" />
    <partial name="Components/_Input" model="@Model.SlugInput" />
    <partial name="Components/_Url" model="@Model.UrlInput" />
    <partial name="Components/_Select" model="@Model.LanguageInput" />
    <div>
        <partial name="Components/_InfoMessages" model="@Model.InfoMessages" />
    </div>
    <partial name="Components/_LongInput" model="@Model.DescriptionInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="clone_project_button">clone_project_button</button>
</form>

@section Scripts
{
    <script>
        let nameInput = getElement('@Model.NameInput.Name');
        nameInput.onchange = function() {

            let slugInput = getElement('@Model.SlugInput.Name');

            if (nameInput.value === '') {
                slugInput.value = '';
                return;
            }

            if (slugInput.value === '') {
                slugInput.value = getLowerCase(this.value);
            }
        };
    </script>
}
