@model ProjectDetailModel

<label data-translation="project_name">project_name</label>
<div>@Model.Name</div>

<label data-translation="project_slug">project_slug</label>
<div>  @Model.Slug</div>


<label data-translation="description">description</label>
<div> @Model.Description</div>


<label data-translation="organization">organization</label>
<a href="/Organization/Detail/@Model.OrganizationUid">@Model.OrganizationName</a>

<label data-translation="url">url</label>
<a href=@Model.Url target="_blank">@Model.Url</a>

<label data-translation="language">language</label>
<img src="@Model.LanguageIconUrl" alt="@Model.LanguageName" class="detail-flag" />
<div>@Model.LanguageName</div>

<partial name="Components/_InfoMessages" model="@Model.InfoMessages" />

<label data-translation="label_count">label_count</label>
<div>@Model.LabelCount</div>

<div class="detail-checkbox">
    <partial name="Components/_Checkbox" model="@Model.IsActiveInput" />
</div>
<form action="/Project/DownloadLabels" method="post">
    <input type="hidden" id="id" name="id" value=@Model.ProjectUid />
    <button type="submit" data-translation="download_labels_button">download_labels_button</button>

    @Html.AntiForgeryToken()
</form>
<div class="bottom-links">
    <a href="/Project/PendingTranslations/@Model.ProjectUid" data-translation="pending_translations_link">pending_translations_link</a>
    <a href="/Project/Edit/@Model.ProjectUid" data-translation="edit_project_link">edit_project_link</a>
    <a href="/Project/Clone/@Model.ProjectUid" data-translation="clone_project_link">clone_project_link</a>
    <a href="/Project/Revisions/@Model.ProjectUid" data-translation="revisions_link">revisions_link</a>
    <button type="button" class="btnRed"
            data-confirm-title="delete_project_confirm_title"
            data-confirm-content="delete_project_confirm_content"
            data-url="/Project/Delete/"
            data-prm="id=@Model.ProjectUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Organization/Detail/@Model.OrganizationUid')"
            data-translation="delete_button">
        delete_button
    </button>
    <button type="button"
            data-confirm-title="change_activation_project_confirm_title"
            data-confirm-content="change_activation_project_confirm_content"
            data-url="/Project/ChangeActivation/"
            data-prm="id=@Model.ProjectUid&organizationUid=@Model.OrganizationUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Project/Detail/@Model.ProjectUid')"
            data-translation="change_activation_button">
        change_activation_button
    </button>
</div>

<div class="tab-header">
    <button data-translation="labels" class="active">labels</button>
</div>
<div class="tab-body">
    <div class="tbl">
        <a href="/Label/Create/@Model.ProjectUid" data-translation="create_label_link">create_label_link</a>
        <a href="/Label/CreateBulkLabel/@Model.ProjectUid" data-translation="create_bulk_label_link">create_bulk_label_link</a>
        <a href="/Label/UploadLabelFromCSVFile/@Model.ProjectUid" data-translation="upload_labels_from_csv_link">upload_labels_from_csv_link</a>
        <table data-result="/Project/LabelListData/@Model.ProjectUid"></table>
    </div>
</div>