@model ProjectEditModel

<a href="/Project/Detail/@Model.ProjectUid" data-translation="project_link">project_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectInput" />

    <partial name="Components/_Input" model="@Model.NameInput" />
    <partial name="Components/_Input" model="@Model.SlugInput" />
    <partial name="Components/_Url" model="@Model.UrlInput" />
    <partial name="Components/_LongInput" model="@Model.DescriptionInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="edit_project_button">edit_project_button</button>
</form>