@model InviteModel

    <a href="/Organization/Detail/@Model.OrganizationUid" data-translation="organization_link">organization_link</a>
<h1 data-translation="@Model.Title">@Model.Title</h1>

<form id="Invite" method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />

    <partial name="Components/_Email" model="@Model.EmailInput" />
    <partial name="Components/_Input" model="@Model.FirstNameInput" />
    <partial name="Components/_Input" model="@Model.LastNameInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="invite_translator_button">invite_translator_button</button>
</form>