@model InviteAcceptModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form id="InviteAccept" method="post">
    <partial name="Components/_Hidden" model="@Model.TokenInput" />
    <partial name="Components/_Hidden" model="@Model.EmailInput" />

    <partial name="Components/_Input" model="@Model.FirstNameInput" />
    <partial name="Components/_Input" model="@Model.LastNameInput" />
    <partial name="Components/_Password" model="@Model.PasswordInput" />
    <partial name="Components/_Password" model="@Model.ReEnterPasswordInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="accept_invite_button">accept_invite_button</button>
</form>