@model ResetPasswordModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form id="ResetPassword" method="post">
    <partial name="Components/_Password" model="@Model.PasswordInput" />
    <partial name="Components/_Password" model="@Model.ReEnterPasswordInput" />
    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />
    <button type="submit" data-translation="reset_password_button">reset_password_button</button>
</form>