@model SignUpModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form id="SignUp" method="post">
    <partial name="Components/_Email" model="@Model.EmailInput" />
    <partial name="Components/_Input" model="@Model.FirstNameInput" />
    <partial name="Components/_Input" model="@Model.LastNameInput" />
    <partial name="Components/_Input" model="@Model.OrganizationNameInput" />
    <partial name="Components/_Password" model="@Model.PasswordInput" />
    <partial name="Components/_Checkbox" model="@Model.IsTermsAcceptedInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="sign_up_button">sign_up_button</button>
</form>

<div class="bottom-links">
    <a href="/User/LogOn" data-translation="log_on_link">log_on_link</a>
    <a href="/User/DemandPasswordReset" data-translation="password_reset_link">password_reset_link</a>
</div>

@section Scripts
{
    <script>
    localStorage.removeItem('labels');
    </script>
}