@model CheckboxInputModel

<div class="checkbox">

    <label for="@Model.Name">@Localizer.Localize(Model.LabelKey)</label>
    <input type="checkbox"
           id="@Model.Name"
           name="@Model.Name"
           @Html.Raw(Model.IsRequired ? "required" : "")
           @Html.Raw(Model.Value ? "checked" : "") />

    <script>
        document.querySelector('#@Model.Name').onchange = function() { this.value = this.checked; };
    </script>

    @if (Model.ErrorMessage.IsNotEmpty())
    {
        <div class="error">@Model.ErrorMessage</div>
    }
</div>
