@model LongInputModel

<div class="longinput">

    <label for="@Model.Name">@Localizer.Localize(Model.LabelKey)</label>
    <input type="text"
           id="@Model.Name"
           name="@Model.Name"
           value="@Model.Value"
           @Html.Raw(Model.IsRequired ? "required" : "") />
    
    @if (Model.ErrorMessage.Any())
    {
        <ul class="error">
            @foreach (var msg in Model.ErrorMessage)
            {
                <li>@msg</li>
            }
        </ul>
    }
</div>