@model CreateBulkLabelModel

<h1 data-translation="@Model.Title">@Model.Title</h1>
<p data-translation="if_you_add_multiple_translation_for_same_language_accepts_the_first_one">if_you_add_multiple_translation_for_same_language_accepts_the_first_one</p>
<br />

<div>
    <label data-translation="project">project</label>
    <a href="/Project/Detail/@Model.ProjectUid">@Model.ProjectName</a>
</div>

<form method="post" enctype="multipart/form-data">
    <partial name="Components/_Hidden" model="@Model.OrganizationUidInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectUidInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectNameInput" />

    <partial name="Components/_Textarea" model="@Model.BulkLabelInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />
    <partial name="Components/_ErrorMessages" model="@Model.WarningMessages" />

    <button type="submit" data-translation="create_bulk_button">create_bulk_button</button>
</form>