@model LabelCreateModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div>
    <label data-translation="project">project</label>
    <a data-translation="@Model.ProjectName" href="/Project/Detail/@Model.ProjectUid">@Model.ProjectName</a>
</div>

<div>
    <label data-translation="project_language">project_language</label>
    <img class="detail-flag" data-translation="@Model.ProjectLanguageIconUrl" src="@Model.ProjectLanguageIconUrl" alt="@Model.ProjectLanguageName" style="height: 34px; margin-top: 3px; margin-bottom: 5px;" />
    <span data-translation="@Model.ProjectLanguageName" style="display: block; margin-bottom: 10px;">@Model.ProjectLanguageName</span>
</div>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectInput" />

    <partial name="Components/_Input" model="@Model.KeyInput" />
    <partial name="Components/_LongInput" model="@Model.DescriptionInput" />
    <partial name="Components/_Select" model="@Model.LabelTranslationLanguagesInput" />
    @if (!Model.IsHavingActiveTranslationProvider)
    {
        <span data-translation="translation_provider_is_not_active" class="error">translation_provider_is_not_active</span>
    }
    else
    {
     <span data-translation="translation_provider_is">translation_provider_is</span>@Html.Raw("&nbsp;")<span>@Model.TranslationProviderName</span>
    }

    <partial name="Components/_Checkbox" model="@Model.IsGettingTranslationFromOtherProjectInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="create_label_button">create_label_button</button>
</form>
<script>
    const providerInfo = document.getElementById("providerInfo");
    const selectInput = document.querySelector("div.select-wrapper");
    const selectInputActiveItem = document.getElementsByClassName("select-button");

    if (providerInfo.innerHTML.endsWith("not_active")) {
        providerInfo.style.display = "none";
        selectInput.style.pointerEvents = "none";
    }
</script>