@model LabelDetailModel

<label data-translation="label_name">label_name</label>
<h1>@Model.Key</h1>

<div>
    <label data-translation="description">description</label>
    @Model.Description
</div>

<div>
    <label data-translation="organization">organization</label>
    <a href="/Organization/Detail/">@Model.OrganizationName</a>
</div>

<div>
    <label data-translation="project">project</label>
    <a href="/Project/Detail/@Model.ProjectUid">@Model.ProjectName</a>
</div>

<div>
    <label data-translation="label_translation_count">label_translation_count</label>
    @Model.LabelTranslationCount
</div>

<partial name="Components/_Checkbox" model="@Model.IsActiveInput" />

<div>
    <label data-translation="label_translation_count">label_translation_count</label>
    @Model.LabelTranslationCount
</div>


<div class="bottom-links">
    <a href="/Label/Edit/@Model.LabelUid" data-translation="edit_label_link">edit_label_link</a>
    <a href="/Label/Clone/@Model.LabelUid" data-translation="clone_label_link">clone_label_link</a>
    <a href="/Label/Revisions/@Model.LabelUid" data-translation="revisions_link">revisions_link</a>
    <button type="button" class="btnRed"
            data-confirm-title="delete_label_confirm_title"
            data-confirm-content="delete_label_confirm_content"
            data-url="/Label/Delete/"
            data-prm="id=@Model.LabelUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Project/Detail/@Model.ProjectUid')"
            data-translation="delete_button">
        delete_button
    </button>
    <form action="/Label/DownloadTranslations" method="post">
        <input type="hidden" id="id" name="id" value="@Model.LabelUid" />
        @Html.AntiForgeryToken()
        <button type="submit" data-translation="download_translations_button">download_translations_button</button>
    </form>
</div>

<h2 data-translation="translations">translations</h2>
<div class="tbl">
    <a href="/Label/LabelTranslationCreate/@Model.LabelUid" data-translation="create_label_translation_link">create_label_translation_link</a>
    <a href="/Label/UploadLabelTranslationFromCSVFile/@Model.LabelUid" data-translation="upload_translations_from_csv_link">upload_translations_from_csv_link</a>
    <table data-result="/Label/LabelTranslationListData/@Model.LabelUid"></table>
</div>

