@model LabelEditModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />
    <partial name="Components/_Hidden" model="@Model.LabelInput" />

    <partial name="Components/_Input" model="@Model.KeyInput" />
    <partial name="Components/_LongInput" model="@Model.DescriptionInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="edit_label_button">edit_label_button</button>
</form>