@model LabelTranslationCreateModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div>
    <label data-translation="project">project</label>
    <a href="/Project/Detail/@Model.ProjectUid">@Model.ProjectName</a>
</div>

<div>
    <label data-translation="label_key">label_key</label>
    <a href="/Label/Detail/@Model.LabelUid">@Model.LabelKey</a>
</div>

<form method="post">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />

    <partial name="Components/_Hidden" model="@Model.ProjectInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectNameInput" />

    <partial name="Components/_Hidden" model="@Model.LabelInput" />
    <partial name="Components/_Hidden" model="@Model.LabelKeyInput" />

    <partial name="Components/_Select" model="@Model.LanguageInput" />
    <partial name="Components/_LongInput" model="@Model.LabelTranslationInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="create_label_translation_button">create_label_translation_button</button>
</form>

@section Scripts
{
    <script>
        let languageInput = getElement('@Model.LanguageInput.Name');
        let labelKeyInput = getElement('@Model.LabelKeyInput.Name');
        let labelTranslationInput = getElement('@Model.LabelTranslationInput.Name');
        let textToTranslate = labelKeyInput.value;
        let lastLabelTranslation = '';

        onSelectChange('@Model.LanguageInput.Name', function () {
            var targetLanguageUid = languageInput.value;
            doGet('/Label/Translate?text=' + textToTranslate + '&target=' + targetLanguageUid + '&provider=google', function (req) {
                if (199 < req.status && req.status < 300) {
                    if (labelTranslationInput.value === ''
                        || labelTranslationInput.value === lastLabelTranslation) {
                        labelTranslationInput.value = req.responseText.replace(new RegExp("\"", "g"), "");
                        lastLabelTranslation = labelTranslationInput.value;
                    }
                }
            });
        });
    </script>
}