@model UploadLabelTranslationFromCSVFileModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div>
    <label data-translation="label">label</label>
    <a href="/Label/Detail/@Model.LabelUid">@Model.LabelKey</a>
</div>

<form method="post" enctype="multipart/form-data">
    <partial name="Components/_Hidden" model="@Model.OrganizationUidInput" />
    <partial name="Components/_Hidden" model="@Model.LabelUidInput" />
    <partial name="Components/_Hidden" model="@Model.LabelKeyInput" />

    <partial name="Components/_File" model="@Model.CSVFileInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />

    <button type="submit" data-translation="upload_label_translations_from_csv_button">upload_label_translations_from_csv_button</button>
</form>

<div class="bottom-links">
    <a href="/files/uploadTranslationCsvTemplate.csv" data-translation="download_translation_upload_template_file">download_translation_upload_template_file</a>
</div>