@model LabelUploadFromCSVModel

<h1 data-translation="@Model.Title">@Model.Title</h1>

<div>
    <partial name="Components/_InfoMessages" model="@Model.InfoMessages" />
</div>

<div class="bottom-links">
    <a href="/Label/DownloadSampleCSVFileForBulkLabelUpload" data-translation="download_label_upload_template_sample_file">download_label_upload_template_sample_file</a>
</div>

<div>
    <label data-translation="project">project</label>
</div>

<form method="post" enctype="multipart/form-data">
    <partial name="Components/_Hidden" model="@Model.OrganizationInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectInput" />
    <partial name="Components/_Hidden" model="@Model.ProjectNameInput" />

    <partial name="Components/_File" model="@Model.CSVFileInput" />

    <partial name="Components/_ErrorMessages" model="@Model.ErrorMessages" />
    <partial name="Components/_ErrorMessages" model="@Model.WarningMessages" />
   
    <button type="submit" data-translation="upload_labels_from_csv_button">upload_labels_from_csv_button</button>
</form>
