@model TranslationUploadFromCSVDoneModel

<div>
    <label data-translation="added_translation_count">added_translation_count</label>
    @Model.AddedTranslationCount
</div>

<div>
    <label data-translation="updated_translation_count">updated_translation_count</label>
    @Model.UpdatedTranslationCount
</div>

<div>
    <label data-translation="can_not_added_translation_count">can_not_added_translation_count</label>
    @Model.CanNotAddedTranslationCount
</div>

<div>
    <label data-translation="total_rows_processed">total_rows_processed</label>
    @Model.TotalRowsProcessed
</div>

<partial name="Components/_ErrorMessages" model="@Model.WarningMessages" />

<div>
    <br />
    <span data-translation="visit">visit</span> <a href="/Label/Detail/@Model.LabelUid">@Model.LabelKey</a>
</div>