@model LanguageDetailModel

<label data-translation="language_name">language_name</label>
<h1>@Model.Name</h1>

<div>
    <label data-translation="original_name">original_name</label>
    @Model.OriginalName
</div>

<div>
    <label data-translation="iso_code_2">iso_code_2</label>
    @Model.IsoCode2
</div>

<div>
    <label data-translation="iso_code_3">iso_code_3</label>
    @Model.IsoCode3
</div>

<div>
    <label data-translation="description">description</label>
    @Model.Description
</div>

<div class="bottom-links">
    <a href="/Language/Edit/@Model.LanguageUid" data-translation="edit_link">edit_link</a>
    <a href="/Language/Revisions/@Model.LanguageUid" data-translation="revisions_link">revisions_link</a>
    <button type="button" class="btnRed"
            data-confirm-title="delete_language_confirm_title"
            data-confirm-content="delete_language_confirm_content"
            data-url="/Language/Delete/"
            data-prm="id=@Model.LanguageUid"
            onclick="doRedirectIfConfirmedSuccess(this, '/Language/List/')"
            data-translation="delete_button">
        delete_button
    </button>
</div>
