@model ReadOnlyInputModel

<div>
    <label for="@Model.Name" data-translation="@Model.LabelKey">@Model.LabelKey
    @if (Model.InfoText.IsNotEmpty())
    {
        <span>@Model.InfoText</span>
    }
</label>
<input type="text" id="@Model.Name" name="@Model.Name" value="@Model.Value" readonly="readonly" />
</div>